<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.epam.hotel.filter.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.epam.hotel.controller.Controller</servlet-class>
        <security-role-ref>
            <description/>
            <role-name>Admin</role-name>
            <role-link>AdminRole</role-link>
        </security-role-ref>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/accept</url-pattern>
        <url-pattern>/rooms</url-pattern>
        <url-pattern>/about</url-pattern>
        <url-pattern>/adminrooms</url-pattern>
        <url-pattern>/chart</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/prices</url-pattern>
        <url-pattern>/adminorders</url-pattern>
        <url-pattern>/adminusers</url-pattern>
        <url-pattern>/contact</url-pattern>
        <url-pattern>/discount</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/check</url-pattern>
        <url-pattern>/exit</url-pattern>
        <url-pattern>/ajaxSetOrder</url-pattern>
        <url-pattern>/ajaxOrders</url-pattern>
        <url-pattern>/ajaxRoom</url-pattern>
        <url-pattern>/ajaxDeleteOrder</url-pattern>
        <url-pattern>/language</url-pattern>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/error/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error/500.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/main/about.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/main/prices.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/main/rooms.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/main/discount.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/main/accept.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/main/chart.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/main/contact.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>/WEB-INF/views/admin/adminrooms.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/admin/adminorders.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/admin/adminusers.jsp</url-pattern>
            <page-encoding>utf-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/adminheader.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/adminfooter.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <security-constraint>
        <display-name>Ограничение1</display-name>
    </security-constraint>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description/>
            <url-pattern>/admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/WEB-INF/views/admin/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/views/error/403.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Пользователи, добавленные к этой роли, получат доступ к каталогу admin на сервере.</description>
        <role-name>AdminRole</role-name>
    </security-role>
</web-app>
